/* background */
.background {
  background-color: #eaf6fb;
  min-height: 100vh; /* allow background to extend beyond viewport */
  margin: 0;
  padding: 0;
}

/* Outer flexbox centered */
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MDM logistics consumer title */
.title {
  color: #1a2a6c;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
}

/* Button */
.button-primary {
  background-color: #1e4f91;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

.button-primary:hover {
  background-color: #163e73;
}

.button-primary:disabled {
  background-color: #d3d3d3;  
  color: #6a6a6a;             
  cursor: not-allowed;
  opacity: 1;                 
  box-shadow: none;
}



/* Form section aligned left (this class is very imp, removing it can cause serious issues with layout */
.form-container {
  width: 100%;
  max-width: 900px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}

/* this form-row and input-label is for Part Id and Market Consumer row */
.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
.input-label {
  font-size: 14px;
  font-weight: bold;
}

/* this is for the two boxes(part number and prefix) in part id */
.input-field {
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Apply blue border & shadow when input is focused */
.input-field:focus {
  border-color: #1e4f91;
  box-shadow: 0 0 5px rgba(30, 79, 145, 0.3);
  outline: none; 
}

/*  add smooth transition when input is focused */
.input-field {
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}



/* market consumer Dropdown */
.marketconsumer-dropdown {
  position: relative;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;

}


/* Options list of market consumer dropdown*/
.dropdown-options {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Option item of market consumer dropdown */
.dropdown-options li {
  padding: 10px;
  min-height: 20px;
  transition: background 0.2s;
}

/* Hover effect on options in the dropdown */
.dropdown-options li:hover {
  background: #1e4f91;
  color: #fff;
}

/* Hover effect on container */
.marketconsumer-dropdown:hover {
  border-color: #1e4f91;
  box-shadow: 0 0 5px rgba(30, 79, 145, 0.3);
}

.marketconsumer-dropdown .selected {
  min-height: 38px; 
  padding: 10px;
  position: relative;
  padding-right: 25px; 
}

.marketconsumer-dropdown .dropdown-arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #555;
  pointer-events: none;
}

.marketconsumer-dropdown:focus {
  border-color: #1e4f91;
  box-shadow: 0 0 5px rgba(30, 79, 145, 0.3);
  outline: none; 
}



/* error message display */
.error-banner {
  height: 10px;                
  color: #b30000;             
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Placeholder keeps height without showing text when there is no error*/
.error-placeholder {
  visibility: hidden;
}


/* Modal Overlay (used for delete box and user id info box)*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/*  Modal Box (for delete box)*/
.modal-box {
  background: #fff;
  padding: 40px 10px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-weight: bold;
}

/* modal box (for user id info box) */
.modal-box2 {
  background: #fff;
  padding: 20px 20px;
  border-radius: 8px;
  width: 480px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-size: 14px;
}

/* Modal(delete) box Buttons */
.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}



/* Go To Dropdown */
.goto-dropdown {
  position: relative;
  display: inline-block;
}

.goto-button {
  background-color: #1e4f91;   
  color: #fff;           
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  transition: background 0.3s ease;
}

/* Dropdown Options */
.goto-options {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #1e4f91;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Option Items */
.goto-options li {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-weight: bold;
}

.goto-options li:hover {
  background: #fff;
  color: #1e4f91;
  font-weight: bold;
}

.goto-arrow {
  font-size: 12px;
  margin-left: auto;
}

